input,
textarea {
  background: transparent;
  border: 1px solid var(--border-dark);
  padding: 10px;
  border-radius: 8px;
  color: var(--text-dark);
  font-size: 13px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #2e9c66;
}


textarea {
  resize: none;
  height: 80px;
}

.caminhao-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

